stages:
  - run

run_on_test_vm:
  stage: run
  tags:
    - test
  only:
    - internal-deploy

  script:
    - echo "=== STOP OLD CONTAINER ==="
    - sudo docker rm -f snipeit || true

    - echo "=== BUILD IMAGE ==="
    - sudo docker build -t snipeit:ci .

    - echo "=== RUN CONTAINER ==="
    - sudo docker run -d \
        --name snipeit \
        -p 8080:80 \
        snipeit:ci

    - echo "=== VERIFY ==="
    - sleep 5
    - curl -I http://localhost:8080 || true
