workflow:
  rules:
    - when: always

stages:
  - test

run_test:
  stage: test
  tags:
    - test
  script:
    - echo "=== DOCKER INFO ==="
    - docker info

    - echo "=== BUILD IMAGE ==="
    - docker build -t snipeit:test .

    - echo "=== RUN CONTAINER ==="
    - docker stop snipeit-test || true
    - docker rm snipeit-test || true
    - docker run -d \
        --name snipeit-test \
        -p 8080:80 \
        snipeit:test

    - echo "=== WAIT APP BOOT ==="
    - sleep 15

    - echo "=== HTTP TEST ==="
    - curl -I http://localhost:8080
