stages:
  - test

test_on_vm:
  stage: test
  tags:
    - test
  only:
    - internal-deploy

  before_script:
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - mkdir -p ~/.ssh
    - ssh-keyscan -H ptcn-qlda02 >> ~/.ssh/known_hosts

  script:
    - |
      ssh ptcn-qlda@ptcn-qlda02 << 'EOF'
        set -e

        echo "=== HOST ==="
        hostname
        whoami

        echo "=== CLEAN ==="
        docker rm -f snipeit || true

        cd /opt/snipe-it

        echo "=== BUILD ==="
        docker build -t snipeit:ci .

        echo "=== RUN ==="
        docker run -d \
          --name snipeit \
          -p 8080:80 \
          snipeit:ci

        sleep 5

        docker ps -a
        curl -I http://localhost:8080
      EOF
