stages:
  - test

variables:
  IMAGE_NAME: snipeit
  IMAGE_TAG: test
  CONTAINER_NAME: snipeit-test
  APP_PORT: 8080

test_snipeit:
  stage: test
  tags:
    - test

  before_script:
    - git clean -ffdx

  script:
    - echo "=== DOCKER INFO ==="
    - docker info

    - echo "=== BUILD IMAGE ==="
    - docker build -f Dockerfile -t ${IMAGE_NAME}:${IMAGE_TAG} .

    - echo "=== RUN CONTAINER ==="
    - docker rm -f ${CONTAINER_NAME} || true
    - docker run -d --name ${CONTAINER_NAME} -p ${APP_PORT}:80 ${IMAGE_NAME}:${IMAGE_TAG}

    - sleep 10
    - curl -I http://localhost:${APP_PORT}

  after_script:
    - docker logs ${CONTAINER_NAME} || true
    - docker rm -f ${CONTAINER_NAME} || true
