stages:
  - build
  - test

variables:
  IMAGE_NAME: snipeit
  IMAGE_TAG: test
  CONTAINER_NAME: snipeit-test
  APP_PORT: 8080

before_script:
  - docker info

build_image:
  stage: build
  tags: [test]
  script:
    - docker build -f snipe-it/Dockerfile -t ${IMAGE_NAME}:${IMAGE_TAG} snipe-it

run_test:
  stage: test
  tags: [test]
  needs: [build_image]
  script:
    - docker rm -f ${CONTAINER_NAME} || true
    - docker run -d --name ${CONTAINER_NAME} -p ${APP_PORT}:80 ${IMAGE_NAME}:${IMAGE_TAG}
    - sleep 20
    - docker exec ${CONTAINER_NAME} php artisan key:generate --force || true
    - curl -I http://localhost:${APP_PORT}

  after_script:
    - docker logs ${CONTAINER_NAME} || true
    - docker rm -f ${CONTAINER_NAME} || true
