stages:
  - build
  - test

variables:
  IMAGE_NAME: snipeit
  IMAGE_TAG: test
  CONTAINER_NAME: snipeit-test
  APP_PORT: 8080

before_script:
  - docker info

build_image:
  stage: build
  tags:
    - test
  script:
    - echo "=== BUILD IMAGE ==="
    - ls -la
    - ls -la snipe-it
    - test -f snipe-it/Dockerfile
    - docker build -f snipe-it/Dockerfile -t ${IMAGE_NAME}:${IMAGE_TAG} snipe-it

run_test:
  stage: test
  needs:
    - build_image
  script:
    - docker rm -f ${CONTAINER_NAME} || true

    - docker run -d \
        --name ${CONTAINER_NAME} \
        -p ${APP_PORT}:80 \
        -e APP_ENV=testing \
        -e APP_DEBUG=true \
        -e DB_CONNECTION=sqlite \
        -e DB_DATABASE=/tmp/database.sqlite \
        ${IMAGE_NAME}:${IMAGE_TAG}

    - sleep 20

    - docker exec ${CONTAINER_NAME} php artisan key:generate --force
    - curl -I http://localhost:${APP_PORT}

  after_script:
    - docker logs ${CONTAINER_NAME} || true
    - docker rm -f ${CONTAINER_NAME} || true
