stages:
  - deploy

deploy_to_test_vm:
  stage: deploy

  # BẮT BUỘC vì runner của bạn run_untagged = false
  tags:
    - test

  only:
    - internal-deploy

  script:
    - echo "=== CHECK DOCKER ==="
    - docker version

    - echo "=== STOP OLD CONTAINER ==="
    - docker rm -f snipeit || true

    - echo "=== BUILD IMAGE ==="
    - docker build -t snipeit:ci .

    - echo "=== RUN CONTAINER ==="
    - docker run -d \
        --name snipeit \
        -p 8080:80 \
        snipeit:ci

    - echo "=== VERIFY ==="
    - sleep 5
    - docker ps
    - curl -I http://localhost:8080 || true
