stages:
  - test

run_test:
  stage: test
  tags:
    - test
  script:
    - docker info
    - docker build -t snipeit:test .
    - docker stop snipeit-test || true
    - docker rm snipeit-test || true
    - docker run -d --name snipeit-test -p 8080:80 --env-file .env.test snipeit:test
    - sleep 10
    - curl -I http://localhost:8080
