image: docker:28.2.2

services:
  - docker:28.2.2-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

  IMAGE_NAME: snipeit
  IMAGE_TAG: test

  CONTAINER_NAME: snipeit-test
  APP_PORT: 8080

stages:
  - build
  - test

before_script:
  - docker info

# --------------------------------------------------
# BUILD IMAGE
# --------------------------------------------------
build_image:
  stage: build
  script:
    - echo "=== BUILD DOCKER IMAGE ==="
    - ls -la
    - ls -la snipe-it
    - test -f snipe-it/Dockerfile
    - docker build -f snipe-it/Dockerfile -t ${IMAGE_NAME}:${IMAGE_TAG} snipe-it
    - docker images | grep ${IMAGE_NAME}
  rules:
    - if: '$CI_COMMIT_BRANCH == "internal-deploy"'

# --------------------------------------------------
# RUN & TEST CONTAINER
# --------------------------------------------------
run_test:
  stage: test
  needs:
    - build_image
  script:
    - echo "=== CLEAN OLD CONTAINER ==="
    - docker rm -f ${CONTAINER_NAME} || true

    - echo "=== RUN CONTAINER ==="
    - docker run -d \
        --name ${CONTAINER_NAME} \
        -p ${APP_PORT}:80 \
        -e APP_ENV=testing \
        -e APP_DEBUG=true \
        -e DB_CONNECTION=sqlite \
        -e DB_DATABASE=/tmp/database.sqlite \
        ${IMAGE_NAME}:${IMAGE_TAG}

    - echo "=== WAIT APP BOOT ==="
    - sleep 20

    - echo "=== GENERATE APP KEY ==="
    - docker exec ${CONTAINER_NAME} php artisan key:generate --force

    - echo "=== HTTP TEST ==="
    - curl -I http://localhost:${APP_PORT}

  after_script:
    - docker logs ${CONTAINER_NAME} || true
    - docker rm -f ${CONTAINER_NAME} || true

  rules:
    - if: '$CI_COMMIT_BRANCH == "internal-deploy"'
